.cardBook {
  background-color: white;
  border: 1px solid rgb(87, 87, 88);
  border-radius: 3px;
  max-width: 435px;
  display: flex;
  flex-wrap: wrap;
}

.titleBook {
  width: 100%;
  font-size: 25px;
  text-align: center;
  position: relative;
}

.imageBook {
  width: 120px;
  height: auto;
  margin: 10px;
}

.imageBook img {
  max-height: 100%;
  max-width: 100%;
}

.descriptionBook {
  width: 65%;
  padding-top: 10px;
  padding-left: 10px;
}
